@{
    ViewBag.Title = "About my marvelous web page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This first lab is hopefully going to help me better understand MVC.  Also I will be able to set up and read information from a database.</p>
