@{
    ViewBag.Title = "Contact info if needed.  Other wise leave me alone!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Koch<br />
    Student ID 10637112<br />
</address>

<address>
    <strong>School Email:</strong>   <a href="mailto:10637112@uvlink.uvu.edu">10637112@uvlink.uvu.edu</a><br />
</address>